.filter-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-black;
  font-family: $NerisSemiBold;

  @include respond-to('tablet') {
    order: 4;
  }

  input {
    width: 80px;
    height: 40px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 19px 0 14px 14px;
    font-size: 13px;
    font-family: $NerisLightItalic;

    &::placeholder {
      font-family: $NerisLightItalic;
    }
  }
}
